

body{
  padding-top: 56px;
  background-image: url('../imagenes/angular.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
 }

 .container{
  background-color: white;
  border-radius: 2%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
 }

 textarea
 {
  border-radius: 10%;
 }

 #overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(179, 170, 170, 0.5); /* Black background with opacity */
 
}
