body{
    background-image: url('../imagenes/gamesbackground.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.team{
    margin: 4em 0;
    position: relative;  
   }
   .team h1{
    color:#F97300;
    background-color: antiquewhite;
    margin: 2em; 
    border-radius: 30%;
    box-shadow: 5px 5px 25px #222 inset;  /* Sombra interior */
   }
   .team .item{
    position: relative;
   }
   .team .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
    
   }

   .team .item:hover .des{
    height: 100%;
    background:#f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
   }