body{
    background-image: url('../imagenes/gamesbackground.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
    color:#F97300;
    background-color: antiquewhite;
    margin: 2em; 
    border-radius: 30%;
    box-shadow: 5px 5px 25px #222 inset;  /* Sombra interior */
    margin-left: 100px;
    margin-right: 100px;
    
   }

   #tablajson{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    
   }

form{
    width: 100px;
    height: 50px;
    text-align:center;
    margin-left: 500px;
    
}