

.header{
    background-image: url('../imagenes/mainback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
   .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }

.description{
position: absolute;
top: 30%;
margin: auto;
padding: 2em;

}

.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}

.description a{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
   }

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
    background: rgba(244, 244, 244, 0);

   }
   .about h1{
    color:#F97300;
    margin: 2em;
   }
   .about img{
        height: 100%;
       width: 100%;
       
       
      }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }

   /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 900px) {
    .description p {
      font-size: 30px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 650px) {
    .description p{
      font-size: 15px;
    }
  }

     /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 900px) {
    .description h1 {
      font-size: 40px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 650px) {
    .description h1{
      font-size: 20px;
    }
  }

   /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
   @media screen and (max-width: 300px) {
    .description h1{
      font-size: 10px;
    }
  }

  @media screen and (max-width: 300px) {
    .description p{
      font-size: 5px;
    }
  }