

.header{
    background-image: url('../imagenes/mainback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
   .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }

.description{
position: absolute;
top: 30%;
margin: auto;
padding: 2em;

}

.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}

.description a{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
   }

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
    background: rgba(244, 244, 244, 0);

   }
   .about h1{
    color:#F97300;
    margin: 2em;
   }
   .about img{
        height: 100%;
       width: 100%;
       
       
      }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }

   /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 900px) {
    .description p {
      font-size: 30px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 650px) {
    .description p{
      font-size: 15px;
    }
  }

     /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 900px) {
    .description h1 {
      font-size: 40px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 650px) {
    .description h1{
      font-size: 20px;
    }
  }

   /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
   @media screen and (max-width: 300px) {
    .description h1{
      font-size: 10px;
    }
  }

  @media screen and (max-width: 300px) {
    .description p{
      font-size: 5px;
    }
  }

  /* Map */
  
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map h1{
  color:#F97300;
  margin: 2em;
 }

.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}